### Temp Files ###
*#
*~
.coverage

### Compiled Code ###
*pyc
__pycache__

### Output Files ###
*out
*dat
*bkp
*backup

### Unnecessary Manual Files ###
manual.log
*aux
*pdf
*dvi
*toc
*bbl
Manual/manual.fdb_latexmk
Manual/manual.fls
Manual/manual.synctex.gz
Manual/manual.pyg

### Batch Files ###
submit.sh
summit.sh


### Examples Files ###
*cantherm.log
*chem.inp

### Directories ###
.vscode
.pytest_cache
*egg-info/