### Temp Files ###
*#
*~
_*

### Compiled Code ###
*pyc

### Output Files ###
*out
*dat
*bkp
*backup

### Unnecessary Manual Files ###
manual.log
*aux
*pdf
*dvi
*toc
*bbl

### Batch Files ###
submit.sh
summit.sh


### Examples Files ###
*cantherm.log
*chem.inp
