### Temp Files ###
*#
*~

### Compiled Code ###
*pyc

### Output Files ###
*out
*dat
*bkp
*backup

### Unnecessary Manual Files ###
manual.log
*aux
*pdf
*dvi
*toc
*bbl
Manual/manual.fdb_latexmk
Manual/manual.fls
Manual/manual.synctex.gz


### Batch Files ###
submit.sh
summit.sh


### Examples Files ###
*cantherm.log
*chem.inp
