language: python

os:
  - linux

python:
  - "3.5"
  - "3.6"

before_install:
  - "pip install -U pip"

# command to install dependencies
install:
  - python -m pip install .
  - python -m pytest --version

# command to run tests
script:
  - python -m pytest -v test_v2/ --cov=cantherm/statmech/

# After completion of tests
after_success:
  - codecov
